body {
    font-family: 'Bitter', serif;
    display: flex;
    justify-content: center;
    align-self: center;
}

h1 {
    text-align: center;
    font-weight: 800;

}

h2 {
    font-size: 1.2em;
    display: block;
    width: 100%;
    color: #fff;
    border-bottom: 3px #fff solid;
    padding-bottom: 5px;
}

#points {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 0px;
}

#points div {
    margin-right: 1%;
    padding-top: 5px;
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 5%;
    margin-bottom: 5%;

}

#points div:first-child {
    border-bottom: 3px black solid;

}

#blackJack {
    flex-basis: 50%;
    width: 800px;
    margin: 20px auto;
    position: relative;
}

#table {
    background-color: green;
    padding: 100px;
    border-radius: 100px;
    border: 3px black solid;
    margin: 50px 0px;
}

#playersCards,
#dealersCards {
    display: flex;
    margin-bottom: 30px;
    min-height: 110px;
}

.card {
    font-size: larger;
    text-align: center;
    background: #fff;
    width: 50px;
    padding: 40px 20px;
    font-weight: bold;
    margin-right: 20px;
    box-shadow: 0.2em 0.2em 0.5em #333;
    transition: .4s;
    cursor: default;
    border-radius: 2px;
}

.card:hover {
    box-shadow: 0.2em 0.2em 0.5em #AAA;
    transform: scale(1.2);
}

.hearts,
.diamonds {
    color: #ff0000;
}

.spades,
.clubs {
    color: #000;
}

#message {
    display: none;
    z-index: 9999;
    position: absolute;
    top: 300px;
    width: 100%;
    padding: 50px 100px;
    background-color: rgba(255, 255, 255, 0.95);
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: -1px 14px 73px -22px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: -1px 14px 73px -22px rgba(0, 0, 0, 0.56);
    box-shadow: -1px 14px 73px -22px rgba(0, 0, 0, 0.56);
}

#buttons {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    text-align: center;
}

#buttons button {
    width: 70%;
    font-size: 20px;
    cursor: pointer;
    padding: 20px 60px;
    border-radius: 30px;
    background: #000;
    color: #fff;
    margin: 10px 5px;
    border: 2px solid black;
    transition: .5s;
}

#buttons button:hover {
    color: #000;
    background: #fff;
}