/* font-family: 'Roboto', sans-serif; */
:root {
    --background-dark: rgb(18, 18, 18);
    --background-medium: rgb(28, 28, 28);
    --background-light: rgb(40, 40, 40);
    --primary-color: rgb(176, 107, 241);
    --secondary-color: rgb(3, 218, 197);
    --text-color: rgb(213, 213, 213);
    --delete-color: rgb(207, 102, 121);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Thanks to this setting 1rem is now 10px */
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 30px;
    color: white;
    background-color: var(--background-dark);
    border: 1px solid transparent;
    border-radius: 5px;

}

/* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px var(--primary-color);
    border-radius: 15px;
} */


::-webkit-scrollbar-thumb {
    height: 20px;
    background: var(--primary-color);
    border-radius: 15px;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-dark);
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    height: 10%;
}


.searchbar {
    border: 1px solid var(--secondary-color);
    flex-basis: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-medium);
    border-radius: 15px;
}

.main {
    /* border: 2px dashed var(--text-color); */
    flex-basis: 60%;
    height: 80%;
    overflow-y: scroll;
    border-radius: 15px;
}

.info {
    flex-basis: 20%;
    height: 80%;
    /* border-top: 2px dashed var(--secondary-color); */
    background-color: var(--background-medium);
    /* border-bottom: 2px dashed var(--secondary-color); */
    border-radius: 15px;
    border: 1px solid var(--secondary-color);
}

.bottom {
    flex-basis: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title h1 {
    font-size: 4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: default;
}


.searchbar label {
    flex-basis: 15%;
    border-bottom: 1px solid var(--secondary-color);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.searchbar label input {
    width: 80%;
    margin-right: 5%;
    font-size: 3rem;
    background-color: var(--background-light);
    color: var(--secondary-color);
    border: none;
    border: 1px solid transparent;
    padding: 2%;
    border-radius: 5px;
    letter-spacing: 2px;

}

.searchbar label input:hover {
    box-shadow: inset 0 0 5px var(--secondary-color);
}

.fa-search {
    font-size: 3rem;
    cursor: pointer;
}

.results {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.itemSearched {
    flex-basis: 10%;
    width: 100%;
    padding: 1%;
    word-wrap: break-word;
    text-align: center;
    font-size: 2rem;
    text-transform: inherit;
    cursor: normal;
}

.itemSearched:hover {
    text-shadow: 0px 0px 5px var(--secondary-color);
}

.main .tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main .task {
    width: 78%;
    background-color: var(--background-light);
    margin-bottom: 1%;
    margin-left: 2%;
    padding: 1%;
    border-radius: 5px;
    word-wrap: break-word;
    cursor: pointer;
}

.main .task:first-child {
    margin-top: 1%;
}

/* .main .task:hover {
    color: var(--primary-color);
    box-shadow: inset 0 0 15px var(--primary-color);
} */

.addColor {
    color: var(--primary-color);
    box-shadow: inset 0 0 15px var(--primary-color);
}

.main .task p {
    font-size: 3rem;
    margin-right: 1%;
}

.main .deleteBtn {
    /* problem with button is associated with width and stay font-size */
    /* text-align: center; */
    line-height: 1px;
    margin-left: 2%;
    flex-basis: 25%;
    font-size: 2rem;
    height: 55px;
    max-width: 141px;
    color: var(--primary-color);
    background-color: var(--background-light);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
}

.main .deleteBtn:hover {
    background-color: var(--primary-color);
    color: var(--background-light)
}




.bottom input {
    flex-basis: 50%;
    height: 40%;
    font-size: 3rem;
    color: var(--primary-color);
    background-color: var(--background-light);
    color: var(--secondary-color);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 1.5%;
    letter-spacing: 1px;
}

.bottom input:hover {
    box-shadow: inset 0 0 5px var(--secondary-color);
}

.bottom button {
    margin-left: 2%;
    height: 50%;
    font-size: 3rem;
    padding: 1.5%;
    line-height: 10%;
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    background-color: var(--background-light);
    color: var(--secondary-color);
    cursor: pointer;
    transition: .3s;
}

.bottom button:hover {
    border: 1px solid var(--secondary-color);
    color: var(--background-light);
    background-color: var(--secondary-color);
}